<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calendrier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list-header>Prochain match</ion-list-header>
  <ion-card *ngFor="let p of nextMatch" [navPush]="matchDetailsPage" [navParams]="p">
    <ion-item-group>
      <ion-item-divider light>{{p.date | date:'d MMMM y'}}</ion-item-divider>
      <ion-row center text-center>
        <ion-col width-10><ion-icon name="{{p.local == 'Sautron - MA 3' ? 'home' : 'car'}}"></ion-icon></ion-col>
        <ion-col width-33><h2>{{p.local}}</h2></ion-col>
        <ion-col width-20>{{p.date | date:'H:mm'}}</ion-col>
        <ion-col width-33><h2>{{p.visitor}}</h2></ion-col>
      </ion-row>
    </ion-item-group>
  </ion-card>

  <ion-list-header>Matchs à venir</ion-list-header>
  <ion-card *ngFor="let p of nextMatchs" [navPush]="matchDetailsPage" [navParams]="p">
    <ion-item-group>
      <ion-item-divider *ngIf="p.date !== null" light>{{p.date | date:'d MMMM y'}}</ion-item-divider>
      <ion-item-divider *ngIf="p.date === null" light>Date non programmée</ion-item-divider>
      <ion-row center text-center>
        <ion-col width-10><ion-icon name="{{p.local === 'Sautron - MA 3' ? 'home' : 'car'}}"></ion-icon></ion-col>
        <ion-col width-33><h2>{{p.local}}</h2></ion-col>
        <ion-col width-20 *ngIf="p.date !== null">{{p.date | date:'H:mm'}}</ion-col>
        <ion-col width-20 *ngIf="p.date === null">Heure non définie</ion-col>
        <ion-col width-33><h2>{{p.visitor}}</h2></ion-col>
      </ion-row>
    </ion-item-group>
  </ion-card>
</ion-content>
