<ion-header>
  <ion-navbar>
    <ion-title>
      Match Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  (click)="openMenu()" padding>
  <h2>Match Details Page</h2>
  <p>
    Clicking push notification should navigate you here
  </p>
  <div *ngIf="match">
    <h6>{{match.id}}</h6>
    <h6>{{match.day}}</h6>
    <h6>date : {{match.date}}</h6>
    <h6>{{match.local}}</h6>
    <h6>{{match.visitor}}</h6>
    <h6>{{match.local_score}}</h6>
    <h6>{{match.visitor_score}}</h6>
    <h6>{{match.season}}</h6>
    <h6>{{match.division}}</h6>

    <img [src]="match.base64MatchSheetImage" *ngIf="match.base64MatchSheetImage" />
    <img [src]="match.base64ReceiptImage" *ngIf="match.base64ReceiptImage" />
  </div>
  <div *ngIf="pushMessage">
    <h6>{{pushMessage}}</h6>
  </div>
</ion-content>
